* {
    box-sizing: border-box;
}
body {
    font-family: Arial, cursive;
}

.new-note{
    width: 300px;
    margin: 0 auto;
}

.new-note input,
.new-note textarea,
.new-note button{
    font-family: Arial, cursive;
    padding: 5px 10px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*flex-direction: column;*/

}
.note {
    background-color: #24d140;
    color: black;
    width: 300px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    position: relative;
    min-height: 100px;
}
.note .title{
    margin-bottom: 10px;
    font-weight: bold;
}
.note .title a {
    color: black;
    text-decoration: none;
}
.note .close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.note small {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-top: 10px;
    display: block;
    text-align: right;
    font-style: italic;
}
